<c-row ngPreserveWhitespaces>
  <app-docs-example href="components/table">
    <table cTable>
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome Completo</th>
          <th scope="col">Cpf</th>
          <th scope="col">Data Nascimento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td> </td>
          <td> </td>
          <td> </td>
         </tr>
      </tbody>
    </table>
  </app-docs-example>
</c-row>
